.LoggedInContainer {
  /*transition: margin-left 450ms cubic-bezier(0.23, 1, 0.32, 1);*/
  padding: 10px;
  min-height: calc(100vh - 115px);
  background-color: #F5F5F5;
}

@media (min-width: 768px) {
  .LoggedInContainer {
    /*margin-left: 256px;*/
  }
}
