.RegisterFormContainer {
  width: 100%;
  height: 100vh;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (min-width: 768px) {
  .RegisterFormContainer {}
}
